@charset "ISO-8859-1";@charset "ISO-8859-1";
body {
    margin: 0px;
    background-image: url("/views/images/f12.jpg");
    background-position: 10% 50%;
    background-size: cover;
}
.container {
    margin: 80px auto;
    width: 50%;
    min-height: 195px;
    background-color: #eae5e5;
    box-shadow: 5px 5px 50px 7px rgb(0, 0, 0);
    border-radius: 13px;
}
.nav {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: fit-content;
    background-color: #161918;
    text-align: center;
    box-sizing: border-box;
    border-top-right-radius: 10.5px;
    border-top-left-radius: 10.5px;

}
.nav li {
    display: inline-block;
}
.nav a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #100808;
    font-weight: bolder;
    background-color: rgb(234, 229, 229);
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}
.nav a:hover {
    background-color: rgb(188, 185, 185);
    color: #100808;
}
.heading {
    padding: 40px 0 20px 0;
    margin: auto;
    width: fit-content;
    font-size: 40px;
}
input {
    width: 100%;
    border: solid 1px;
    padding: 5px 8px;
    border-radius: 2px;
    margin-top: 10px;
}
input[type="text"] {
    outline-color: red;
}
input[type="number"] {
    outline-color: red;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type="submit"] {
    background-color: rgb(68, 180, 255);
    font-weight: bolder;
    outline: none;
    border: none;
    color: white;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: rgb(48, 168, 248);
}
.add-form th {
    text-align: left;
}
.add-form {
    width: fit-content;
    margin: auto;
    padding-bottom: 20px;
}
